extends ../base
block body
    h1 Login
    div
      if (errors)
        each error in errors
          .alert.alert-warning= error
    form(action="", method="POST")
      .form-group
        label(for="email") Tên đăng nhập
        input.form-control.form-control-sm(name="username",value=username?username:"")
      .form-group
        label(for="password") Password
        input.form-control.form-control-sm(type="password", name="password")
      button.btn.btn-primary.btn-sm Mật khẩu