extends ../home/base
block content
  if (errors)
    each error in errors
      .alert.alert-warning= error
  .row.justify-content-center
    .col-md-6
      article.card-body
        h4.card-title.text-center.mb-3 Tạo tài khoản mớI
        form
          .form-group.input-group
            .input-group-prepend
              span.input-group-text
                i.fa.fa-user
            input.form-control(name='username', placeholder='Tên đăng nhập', type='text' value=username?username:"")
          .form-group.input-group
            .input-group-prepend
              span.input-group-text
                i.fa.fa-lock
            input.form-control(name='password', placeholder='Nhập mật khẩu', type='password')
          // form-group//
          .form-group.input-group
            .input-group-prepend
              span.input-group-text
                i.fa.fa-lock
            input.form-control(name='password-repeat', placeholder='Xác nhận mật khẩu', type='password')
          .form-group.input-group
            .input-group-prepend
              span.input-group-text
                i.fa.fa-user
            input.form-control(name='username', placeholder='Họ Tên', type='text')
          // form-group//
          .form-group.input-group
            .input-group-prepend
              span.input-group-text
                i.fa.fa-envelope
            input.form-control(name='email', placeholder='Email', type='email')
          // form-group//
          .form-group.input-group
            .input-group-prepend
              span.input-group-text Giới tính
            select.form-control(name='isMale')
              option(selected) Nam
              option Nữ
          .form-group.input-group
            .input-group-prepend
              span.input-group-text Ngày sinh
            input(type="date").form-control
          .form-group.input-group
            .input-group-prepend
              span.input-group-text
                i.fa.fa-phone
            input.form-control(name='phone', placeholder='Số điện thoại', type='text')
          .form-group
            button.btn.btn-primary.btn-block(type='submit') Tạo tài khoản mới