extends base
block profile-content
  h5 Địa chỉ tài khoản
  .row.mt-2.p-2
    .col-12
      form#editAddress(action="/cart/purchase/process" method="POST")
        .form-group.row
          label.col-sm-3.col-form-label Tỉnh/Thành phố
          .col-sm-9
            select.form-control.form-control-sm#provinceEdit
              option(value=address.provinceid seleted)= address.provincename
        .form-group.row
          label.col-sm-3.col-form-label Quận, huyện
          .col-sm-9
            select.form-control.form-control-sm#districtEdit
              option(value=address.districtid selected)= address.districtname
        .form-group.row
          label.col-sm-3.col-form-labe Phường, Xã
          .col-sm-9
            select.form-control.form-control-sm#wardEdit(name="addressid")
              option(value=address.wardid seleted)= address.wardname
        .form-group.row
          label.col-sm-3.col-form-label Số đường, số nhà
          .col-sm-9
            textarea.form-control.form-control-sm(name="addresstext")= user.addresstext
        .row
          .col-6
            input.btn.btn-success.btn-sm.float-left(type="button" value="Lưu")
          .col-6