extends base
block profile-content
  h5 Danh sách đơn hàng
  .row.mt-2.p-2
    .col-12
      table.table.table-sm
        thead
          tr
            th Tình trạng
            th Mã đơn hàng
            th Người nhận
            th Ngày đặt
            th Tổng giá trị
            th Thao tác
        tbody
          tr
            td.text-success Đã thanh toán
            td 3242
            td Hồ Hoài Sản
            td 29/12/2020
            td 18000  0
            td.tablecell-action
              .btn-group
                button.btn.btn-sm.btn-outline-primary.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                  | Action
                .dropdown-menu
                  button.dropdown-item.btn.btn-primary(type='button' data-toggle='modal' data-target='#orderModal', data-id=order.orderid) Xem thông tin chi tiết đơn hàng
                  .dropdown-divider
                  form(action="" method="post")
                    button(type="submit").dropdown-item.text-primary Huỷ đơn hàng
                  
          
          tr
            td.text-warning Chờ thanh toán
            td 3423
            td Hồ Hoài Sản
            td 23/4/2020
            td 19120
            
          tr
            td.text-success Đã thanh toán
            td 4342
            td Hồ Hoài Sản
            td 1/6/2020
            td 140000
            
          tr
            td.text-primary Chờ xác nhận
            td 3234
            td Hồ Hoài Sản
            td 29/12/2019
            td 320000
            
          //- each order in orders
          //-   tr(class=order.orderstatus)
          //-     case order.orderstatus
          //-       when 'p'
          //-         td.text-primary Chờ xác nhận
          //-       when 'c'
          //-         td.text-success Đã thanh toán
          //-       when 'a'
          //-         td.text-warning Chờ thanh toán
          //-       when 'r'
          //-         td.text-danger Đã từ chối
          //-       when 'e'
          //-         td.text-danger Lỗi 
          //-     td= order.orderid
          //-     td= order.fullname
          //-     td= order.receivername
          //-     td= order.timestamp
          //-     td= order.totalmoney