extends base
block vars
  - var admin_list='editor';
block content
    h3.mt-4.mb-4 Chỉnh sửa website
    ul.nav.nav-tabs.mb-4
        li.nav-item
            a.nav-link(href='/admin/editor/banner').active Banner
        li.nav-item
            a.nav-link(href='/admin/editor/footer') Footer
    if (title)
        h4.mt-4.mb-4= title
    .d-flex.justify-content-between.align-items-center.mb-2
        a(href="/admin/editor/banner/add")
            .btn.btn-primary.mr-4 Thêm mục mới vào banner
    .mb-4
        if (messages)
            each message in messages
                .alert.alert-success= message
        if (errors)
            each error in errors
                .alert.alert-warning= error
        table.table
            thead
                tr
                    th(style="width: 30%;") Tên sách
                    th(style="width: 70%;") Hình ảnh
            tbody
                each val in banners
                    tr
                        td.font-weight-bold.tablecell-action
                            a(href='/books/'+val.bookid)= val.bookname
                            form(action="/admin/editor/banner/" + val.bookid + "/delete", method="POST")
                                button(type="submit", style="width: 15rem;").btn.btn-sm.btn-danger.font-weight-bold.mt-2 Delete 
                        td
                            img.img-fluid.mx-auto(src='/assets/img/banner/'+val.customimage, style="width: 600px; height: 330px; object-fit: cover")
    append external
    