extends base
block vars
  - var admin_list='books';
block content
  h3.mt-4.mb-4 Quản lí sách
  h4.mb-4 Thêm sách mới
  if (messages)
      each message in messages
        .alert.alert-success= message
  if (errors)
    each error in errors
      .alert.alert-warning= error
  form(action="/admin/books/add", method="POST", enctype="multipart/form-data")
    .d-flex.flex-sm-row.flex-column
      .col-md-4
        .form-group
          label Tên sách
          input(type="text", name="bookname").form-control.form-control-sm
        .form-group
          label Số trang
          input(type="number", name="bookpages").form-control.form-control-sm
        .form-group
          label Trọng lượng (gram)
          input(type="number", name="bookweight").form-control.form-control-sm
        .form-group
          label Danh mục
          select.form-control.custom-select-sm(name="categoryid")
            each category in categories
              option(value=category.categoryid)= category.categoryname
        .form-group
          label Tác giả
          .d-flex
            select.form-control.custom-select-sm(name="authorid")
              each author in authors
                option(value=author.authorid)= author.authorname
            a(href="/admin/authors",target="blank").ml-2
              button.btn.btn-outline-success.btn-sm(type="button")
                .fas.fa-search
          
        .form-group
          label Thời gian phát hành
          input(type="date", name="releasedate").form-control.form-control-sm

      .col-md-8
        .form-group
          label Hình ảnh sách
          input(type="file", name="picture").form-control-file.form-control-sm
        .form-group
          label Giá tiền
          input(type="number", name="bookprice", value=0).form-control.form-control-sm
        .form-group
          label Số lượng
          input(type="number", name="quantity", value=0).form-control.form-control-sm
        .form-group
          label Nhà xuất bản
          input(type="text", name="publisher").form-control.form-control-sm
        .form-group
          label Loại bìa
          select.form-control.custom-select-sm(name="bookbind")
            option(value="Bìa mềm" selected) Bìa mềm
            option(value="Bìa cứng") Bìa cứng
            option(value="Bìa rời") Bìa rời
        .form-group
          label Mô tả cho sách
          textarea.form-control.form-control-sm(name="description")
    .form-group.col
      button(type="submit").btn.btn-success.btn-block Thêm
      
