extends base
block content
  h3.mt-4 Quản lí website
  p
    | The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on
    | larger screens. When toggled using the button below, the menu will change.
  p
    | Make sure to keep all page content within the 
    code #page-content-wrapper
    | . The top navbar is optional,
    |           and just for demonstration. Just create an element with the 
    code #menu-toggle
    |  ID which will toggle the
    |           menu when clicked.