extends base
block content
  h3.mt-4.mb-4 Quản lí người dùng
  .alert.alert-danger Lỗi không thể thêm vào cơ sở dữ liệu, hãy thử lại
  .alert.alert-success Đã thêm thành công
  ul.nav.nav-tabs.mb-4
    li.nav-item
      a.nav-link.active(href='#') Tất cả
    li.nav-item
      a.nav-link(href='#') Bị vô hiệu hoá
  .d-flex.justify-content-between.align-items-center.mb-2.flex-sm-row.flex-column
    h4.ml-2 Tất cả người dùng
    .d-flex.justify-content-between.align-items-center.mb-2
      form.d-flex
        input.form-control.mr-1(type='search', placeholder='Nhập tên', aria-label='Search')
        button.btn.btn-outline-success.w-25(type='submit')
          .fas.fa-search
  .mb-4
      table.table.table-sm
        thead
          tr
            th Mã người dùng
            th Tên người dùng
            th Số điện thoại
            th Ngày sinh
            th Giới tính
            th Địa chỉ
            th Thao tác
        tbody
          tr
            td Chờ duyệt
            td Text
            td Cell 2
            td Cell 2
            td Đà Nẵng
            td Cell 2
            td.tablecell-action
              .btn-group
                button.btn.btn-sm.btn-danger.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | Action
                .dropdown-menu
                  a.dropdown-item(href='#') Xem lịch sử giao dịch
                  .dropdown-divider
                  a.dropdown-item.text-primary(href='#') Đặt làm quản trị viên
                  .dropdown-divider
                  a.dropdown-item(href='#') Vô hiệu hoá
                  a.dropdown-item.text-danger(href='#') Xoá tài khoản
