extends ../base
block body
    h1 Register
    if succ
        .alert.alert-success= succ
    form(action="", method="POST")
        if errorsUser
            each error in errorsUser    
                .alert.alert-danger= error
        .form-group
            label(for='InputUserName') UserName
            input#InputUserName.form-control(name='username',type='text')
        if errorPass
            .alert.alert-danger= errorPass
        .form-group
            label(for='InputPassword') Password
            input#InputPassword.form-control(name='password', type='password')
        if errorsEmail
            each error in errorsEmail    
                .alert.alert-danger= error
        .form-group
            label(for='InputEmail') Email address
            input#InputEmail.form-control(name="email",type='email', aria-describedby='emailHelp')
            small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
        button.btn.btn-primary Submit
