extends base
append head
  title 404 Not Found
block content
  .pt-5.pb-5
    .d-flex.flex-column.align-items-center.mt-5.mb-5
      h1 404 Not Found
      p Trang web của bạn vừa truy cập không tồn tại