extends base
block content
    .container
        .row
            // team-1
            .col-6.col-md-4
                .our-team-main
                    .team-front
                        img.img-fluid(src='http://placehold.it/110x110/9c27b0/fff?text=Sỏn')
                        h3 Ford & Fulkenson
                    .team-back
                        span
                            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                            | natoque penatibus et magnis dis parturient montes,
                            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                            | natoque.
            // team-1
            // team-2
            .col-6.col-md-4
                .our-team-main
                    .team-front
                        img.img-fluid(src='/assets/img/pipi.jpg')
                        h3 Prism
                    .team-back
                        span
                            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                            | natoque penatibus et magnis dis parturient montes,
                            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                            | natoque.
            // team-2
            // team-3
            .col-6.col-md-4
                .our-team-main
                    .team-front
                        img.img-fluid(src='/assets/img/pipi.jpg')
                        h3 Kruskal
                    .team-back
                        span
                            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                            | natoque penatibus et magnis dis parturient montes,
                            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                            | natoque.
            // team-3
            // team-4
            .col-6.col-md-4
                .our-team-main
                    .team-front
                        img.img-fluid(src='/assets/img/pipi.jpg')
                        h3 Dijkstra 
                    .team-back
                        span
                            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                            | natoque penatibus et magnis dis parturient montes,
                            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                            | natoque.
            // team-4
            // team-5
            .col-6.col-md-4
                .our-team-main
                    .team-front
                        img.img-fluid(src='/assets/img/pipi.jpg')
                        h3 Euler
                    .team-back 
                        span
                            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                            | natoque penatibus et magnis dis parturient montes,
                            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                            | natoque.
            // team-5
            // team-6
            .col-6.col-md-4
                .our-team-main
                    .team-front
                        img.img-fluid(src='/assets/img/pipi.jpg')
                        h3 Hamington
                    .team-back
                        span
                            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                            | natoque penatibus et magnis dis parturient montes,
                            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                            | natoque.
            // team-6
