extends base
block content
    .container
        if (listAuthors)
            .row
                each author in listAuthors
                    .col-6.col-md-4
                        .our-team-main
                            .team-front
                                img.img-fluid(src='/assets/img/pipi.jpg')
                                h3= author.authorname
                            .team-back
                                span= author.authordescription 
            div.d-flex.justify-content-center
                ul.pagination
                    if (pagination_pages>1)
                        - for (i=1; i<=pagination_pages; i++)
                            li.page-item(class=(i==pagination_current_page)?"active":"")
                                a.page-link(href=pagination_url+'page='+i)=i
        else
            .alert.alert-warning Có lỗi xảy ra
            