extends base
block content
    .container
        if (listAuthors)
            .row
                //- - var id = Math.floor(Math.random() * (1 - 1300) + 1300);
                - var id = 106 + pagination_current_page * 6;
                each author in listAuthors
                    a(href="/authors/" + author.authorid).col-6.col-md-4
                        .our-team-main
                            .team-front
                                - id++;
                                img.img-fluid(src='https://picsum.photos/id/' + id +'/200')
                                h3= author.authorname
                            .team-back
                                span= author.authordescription 
            div.d-flex.justify-content-center
                ul.pagination
                    each page in pagination
                        li.page-item(class=(page.index==pagination_current_page)?"active":"")
                            a.page-link(href=page.url)= page.index
            
        else
            .alert.alert-warning Danh sách tác giả trống
            