extends base
block content
    .container
        if (listAuthors)
            .row
                each author in listAuthors
                    .col-6.col-md-4
                        .our-team-main
                            .team-front
                                img.img-fluid(src='/assets/img/pipi.jpg')
                                h3= author.authorname
                            .team-back
                                span= author.authordescription 
            div.d-flex.justify-content-center
                ul.pagination
                    each page in pagination
                        li.page-item(class=(page.index==pagination_current_page)?"active":"")
                            a.page-link(href=page.url)= page.index
            
        else
            .alert.alert-warning Danh sách tác giả trống
            