extends base
block content 
    .row.blog.mt-4.mb-4
        .col-md-12
            div.d-flex.justify-content-center.mb-2
                div.d-flex.justify-content-center.align-items-center.mr-1
                    i.fa.fa-fire
                h2.m-0 Popular Book
            #BookIndicator.carousel.slide(data-ride='carousel')
                ol.carousel-indicators
                    li.active(data-target='#BookIndicator', data-slide-to='0')
                    li(data-target='#BookIndicator', data-slide-to='1')
                    li(data-target='#BookIndicator', data-slide-to='2')
                // Carousel items
                .carousel-inner
                    .carousel-item.active
                        .row 
                            .col-md-3.col-sm-3.col-3
                                a(href='#')
                                    img(src='http://placehold.it/250x250', alt='Image', style='max-width:100%;')
                            .col-md-3.col-sm-3.col-3
                                a(href='#')
                                    img(src='http://placehold.it/250x250', alt='Image', style='max-width:100%;')
                            .col-md-3.col-sm-3.col-3
                                a(href='#')
                                    img(src='http://placehold.it/250x250', alt='Image', style='max-width:100%;')
                            .col-md-3.col-sm-3.col-3
                                a(href='#')
                                    img(src='http://placehold.it/250x250', alt='Image', style='max-width:100%;')
                    .carousel-item
                        .row
                            .col-md-3.col-sm-3.col-3
                                a(href='#')
                                    img(src='http://placehold.it/250x250', alt='Image', style='max-width:100%;')
                            .col-md-3.col-sm-3.col-3
                                a(href='#')
                                    img(src='http://placehold.it/250x250', alt='Image', style='max-width:100%;')
                            .col-md-3.col-sm-3.col-3
                                a(href='#')
                                    img(src='http://placehold.it/250x250', alt='Image', style='max-width:100%;')
                            .col-md-3.col-sm-3.col-3
                                a(href='#')
                                    img(src='http://placehold.it/250x250', alt='Image', style='max-width:100%;')
                    .carousel-item
                        .row
                            .col-md-3.col-sm-3.col-3
                                a(href='#')
                                    img(src='http://placehold.it/250x250', alt='Image', style='max-width:100%;')
                            .col-md-3.col-sm-3.col-3
                                a(href='#')
                                    img(src='http://placehold.it/250x250', alt='Image', style='max-width:100%;')
                            .col-md-3.col-sm-3.col-3
                                a(href='#')
                                    img(src='http://placehold.it/250x250', alt='Image', style='max-width:100%;')
                            .col-md-3.col-sm-3.col-3
                                a(href='#')
                                    img(src='http://placehold.it/250x250', alt='Image', style='max-width:100%;')
                a.carousel-control-prev(href='#BookIndicator', role='button', data-slide='prev')
                    span.carousel-control-prev-icon(aria-hidden='true')
                    span.sr-only Previous
                a.carousel-control-next(href='#BookIndicator', role='button', data-slide='next')
                    span.carousel-control-next-icon(aria-hidden='true')
                    span.sr-only Next

script.
    $('#BookIndicator').carousel({
            interval: 5000
    });

