extends ../base
block head
  link(rel='stylesheet', href="/assets/css/home/style.css")
  link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap", rel="stylesheet")
block body
  .navbar.navbar-light.navbar-expand-md.sticky-top(style="background-color: #f7f7f7;")
    .container-fluid
      div.d-flex.align-items-center
        button.navbar-toggler.justify-content-end.mr-2(data-toggle='collapse', data-target='#navcol-1', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        a.navbar-brand(href='/')
          .fas.fa-book-open.fa-fw.mr-2
          span Chronicle Book
      
      #navcol-1.collapse.navbar-collapse
        form(action="/books", method="get").form-inline.mb-0.mt-2.mt-sm-0.row.ml-2.mr-2
          input.col.form-control.mr-sm-2(type='search', placeholder='Nhập từ khoá', aria-label='Search', name="query", value= search)
          button.col-2.btn.btn-outline-primary.my-2.my-sm-0(type='submit')
            .fas.fa-search
        
        ul.nav.navbar-nav.ml-auto
          if (user)
            li.nav-item(role='presentation')
              a.nav-link(href='/auth/logout') Đăng xuất
            if (user.isadmin)
              li.nav-item(role='presentation')
                a.nav-link(href='/admin') Quản trị
          else
            li.nav-item(role='presentation')
              a.nav-link(href='/auth/register') Đăng ký
            li.nav-item(role='presentation')
              a.nav-link(href='/auth/login') Đăng nhập
      if (user)
        ul
          li.nav-item(role='presentation')
            a.nav-link(href='/user')
              i.fas.fa-user
              span.ml-2= user.fullname
      a.text-success(href="/cart")
        i.fas.fa-shopping-cart
        strong#cartIdentity.text-success.rounded.p-1 0
  div.mb-4
    header
      a(href='/').web-title
        h1(style="font-size: 3rem;") Chronicle Book
    nav
      ul
        a(href='/')
          li
            i.fa.fa-home.mr-1
            | Trang chủ
        a(href='/books')
          li
            i.fa.fa-book.mr-1
            | Sách
        a(href='/authors')
          li
            i.fas.fa-user-circle.mr-1
            | Tác giả
        a(href='/categories/')
          li
            i.far.fa-newspaper.mr-1
            | Danh mục          
      .handle Menu

  //content
  .container.min-vh-100
    block content

  //footer
  != footer
  script(src="/assets/js/script.js")
    
