extends base
block content
    .row.mb-2
        .col-sm-6.col-md-4.col-lg-3.mt-4
            .card.card-inverse.card-info 
                img.card-img-top(src='http://placehold.it/250x250')
                .card-block
                    h5.card-title Sword Art Online
                .card-footer
                    small 98.000 VNĐ 
                    button.btn.btn-info.float-right.btn-sm BUY
        .col-sm-6.col-md-4.col-lg-3.mt-4
            .card.card-inverse.card-info
                img.card-img-top(src='http://placehold.it/250x250')
                .card-block
                    h5.card-title Sword Art Online
                .card-footer
                    small 98.000 VNĐ
                    button.btn.btn-info.float-right.btn-sm BUY
        .col-sm-6.col-md-4.col-lg-3.mt-4
            .card.card-inverse.card-info
                img.card-img-top(src='http://placehold.it/250x250')
                .card-block
                    h5.card-title Sword Art Online
                .card-footer
                    small 98.000 VNĐ
                    button.btn.btn-info.float-right.btn-sm BUY
        .col-sm-6.col-md-4.col-lg-3.mt-4
            .card.card-inverse.card-info
                img.card-img-top(src='http://placehold.it/250x250')
                .card-block
                    h5.card-title Sword Art Online
                .card-footer
                    small 98.000 VNĐ
                    button.btn.btn-info.float-right.btn-sm BUY
    .row.mb-2
        .col-sm-6.col-md-4.col-lg-3.mt-4
            .card.card-inverse.card-info 
                img.card-img-top(src='http://placehold.it/250x250')
                .card-block
                    h5.card-title Sword Art Online
                .card-footer
                    small 98.000 VNĐ 
                    button.btn.btn-info.float-right.btn-sm BUY
        .col-sm-6.col-md-4.col-lg-3.mt-4
            .card.card-inverse.card-info
                img.card-img-top(src='http://placehold.it/250x250')
                .card-block
                    h5.card-title Sword Art Online
                .card-footer
                    small 98.000 VNĐ
                    button.btn.btn-info.float-right.btn-sm BUY
        .col-sm-6.col-md-4.col-lg-3.mt-4
            .card.card-inverse.card-info
                img.card-img-top(src='http://placehold.it/250x250')
                .card-block
                    h5.card-title Sword Art Online
                .card-footer
                    small 98.000 VNĐ
                    button.btn.btn-info.float-right.btn-sm BUY
        .col-sm-6.col-md-4.col-lg-3.mt-4
            .card.card-inverse.card-info
                img.card-img-top(src='http://placehold.it/250x250')
                .card-block
                    h5.card-title Sword Art Online
                .card-footer
                    small 98.000 VNĐ
                    button.btn.btn-info.float-right.btn-sm BUY
    .row.mb-2
        .col-sm-6.col-md-4.col-lg-3.mt-4
            .card.card-inverse.card-info 
                img.card-img-top(src='http://placehold.it/250x250')
                .card-block
                    h5.card-title Sword Art Online
                .card-footer
                    small 98.000 VNĐ 
                    button.btn.btn-info.float-right.btn-sm BUY
        .col-sm-6.col-md-4.col-lg-3.mt-4
            .card.card-inverse.card-info
                img.card-img-top(src='http://placehold.it/250x250')
                .card-block
                    h5.card-title Sword Art Online
                .card-footer
                    small 98.000 VNĐ
                    button.btn.btn-info.float-right.btn-sm BUY
        .col-sm-6.col-md-4.col-lg-3.mt-4
            .card.card-inverse.card-info
                img.card-img-top(src='http://placehold.it/250x250')
                .card-block
                    h5.card-title Sword Art Online
                .card-footer
                    small 98.000 VNĐ
                    button.btn.btn-info.float-right.btn-sm BUY
        .col-sm-6.col-md-4.col-lg-3.mt-4
            .card.card-inverse.card-info
                img.card-img-top(src='http://placehold.it/250x250')
                .card-block
                    h5.card-title Sword Art Online
                .card-footer
                    small 98.000 VNĐ
                    button.btn.btn-info.float-right.btn-sm BUY

