extends base
block content
  .container.pb-5.h-100
    .card
      .card-body.d-flex.justify-content-center.flex-column.mx-auto.align-items-center
        h1.far.fa-check-circle.d-block.m-4.text-success.m-4
        h2.lead.text-success.text-center.m-4 Đơn hàng đang được xử lí, cảm ơn bạn đã mua hàng
        .card-text Mã đơn hàng
          span= orderid
          
        