extends base
block content
    .shopping-cart
        .px-4.px-lg-0
            .pb-5
                .container
                    .row
                        .col-lg-12.p-5.bg-white.rounded.shadow-sm.mb-5
                            .table-responsive
                                table.table
                                    thead
                                        tr
                                            th.border-0.bg-dark.text-light(scope='col')
                                                .p-2.px-3.text-uppercase Sản phẩm
                                            th.border-0.bg-dark.text-light(scope='col')
                                                .py-2.text-uppercase Thành tiền
                                            th.border-0.bg-dark.text-light(scope='col')
                                                .py-2.text-uppercase Số lượng
                                            th.border-0.bg-dark.text-light(scope='col')
                                                .py-2.text-uppercase Xóa
                                    tbody
                                        //- each item in cartItems
                                        //-     tr
                                        //-         th.border-0(scope='row')
                                        //-             .p-2
                                        //-                 img.img-fluid.rounded.shadow-sm(src='/assets/img/books' + item.bookimgurl, alt='', width='70')
                                        //-                 .ml-3.d-inline-block.align-middle
                                        //-                     h5.mb-0
                                        //-                         a.text-dark.d-inline-block.align-middle(href='#')= item.bookname
                                        //-                     span.text-muted.font-weight-normal.font-italic.d-block= 'CategoryID:' + item.bookname
                                        //-         td.border-0.align-middle
                                        //-             strong= item.price + 'VNĐ'
                                        //-         td.border-0.align-middle
                                        //-             .row(style='width: 50%')
                                        //-                 .col-xs-3.col-xs-offset-3
                                        //-                 .input-group.number-spinner
                                        //-                     span.input-group-btn
                                        //-                         button.btn.btn-default(data-dir='dwn')
                                        //-                             i.fas.fa-minus
                                        //-                     input.form-control.text-center(type='text', value='1')
                                        //-                     span.input-group-btn
                                        //-                         button.btn.btn-default(data-dir='up')
                                        //-                             i.fas.fa-plus
                                        //-         td.border-0.align-middle
                                        //-             a.text-danger(href='#', style='font-size: 1.5rem;')
                                        //-                 i.fa.fa-trash
                                        tr
                                            th.border-0(scope='row')
                                                .p-2
                                                    img.img-fluid.rounded.shadow-sm(src='https://res.cloudinary.com/mhmd/image/upload/v1556670479/product-1_zrifhn.jpg', alt='', width='70')
                                                    .ml-3.d-inline-block.align-middle
                                                        h5.mb-0
                                                            a.text-dark.d-inline-block.align-middle(href='#') Timex Unisex Originals
                                                        span.text-muted.font-weight-normal.font-italic.d-block Category: Watches
                                            td.border-0.align-middle
                                                strong 79.000 VNĐ
                                            td.border-0.align-middle
                                                .row(style='width: 50%')
                                                    .col-xs-3.col-xs-offset-3
                                                        .input-group.number-spinner
                                                            span.input-group-btn
                                                                button.btn.btn-default(data-dir='dwn')
                                                                    i.fas.fa-minus
                                                            input.form-control.text-center(type='text', value='1')
                                                            span.input-group-btn
                                                                button.btn.btn-default(data-dir='up')
                                                                    i.fas.fa-plus
                                            td.border-0.align-middle
                                                a.text-danger(href='#', style='font-size: 1.5rem;')
                                                    i.fa.fa-trash
                                        tr
                                            th.border-0(scope='row')
                                                .p-2
                                                    img.img-fluid.rounded.shadow-sm(src='https://res.cloudinary.com/mhmd/image/upload/v1556670479/product-1_zrifhn.jpg', alt='', width='70')
                                                    .ml-3.d-inline-block.align-middle
                                                        h5.mb-0
                                                            a.text-dark.d-inline-block.align-middle(href='#') Timex Unisex Originals
                                                        span.text-muted.font-weight-normal.font-italic.d-block Category: Watches
                                            td.border-0.align-middle
                                                strong 79.000 VNĐ
                                            td.border-0.align-middle
                                                .row(style='width: 50%')
                                                    .col-xs-3.col-xs-offset-3
                                                        .input-group.number-spinner
                                                            span.input-group-btn
                                                                button.btn.btn-default(data-dir='dwn')
                                                                    i.fas.fa-minus
                                                            input.form-control.text-center(type='text', value='1')
                                                            span.input-group-btn
                                                                button.btn.btn-default(data-dir='up')
                                                                    i.fas.fa-plus
                                            td.border-0.align-middle
                                                a.text-danger(href='#', style='font-size: 1.5rem;')
                                                    i.fa.fa-trash
                .row.py-5.p-4.bg-white.rounded.shadow-sm
                    .col-lg-6
                        .bg-dark.text-light.rounded-pill.px-4.py-3.text-uppercase.font-weight-bold
                            | Ghi chú cho đơn hàng
                        .p-4
                            p.font-italic.mb-4
                                | Nếu bạn có ghi chú thêm cho đơn hàng xin hãy điền vào bên dưới.
                            textarea.form-control(name='', cols='30', rows='5', placeholder='Type something...')
                    .col-lg-6
                        .bg-dark.text-light.rounded-pill.px-4.py-3.text-uppercase.font-weight-bold
                            | Order summary
                        .p-4
                            p.font-italic.mb-4
                                | Phí vận chuyển có thể thay đổi tùy thuộc theo khu vực.
                            ul.list-unstyled.mb-4
                                li.d-flex.justify-content-between.py-3.border-bottom
                                    strong.text-muted Tạm tính
                                    strong 390.000 VNĐ
                                li.d-flex.justify-content-between.py-3.border-bottom
                                    strong.text-muted Phí vận chuyển
                                    strong 10.000 VNĐ
                                li.d-flex.justify-content-between.py-3.border-bottom
                                    strong.text-muted Thuế GTGT
                                    strong 0 VNĐ
                                li.d-flex.justify-content-between.py-3.border-bottom
                                    strong.text-muted Thành tiền
                                    h5.font-weight-bold 400.000 VNĐ
                            a.btn.btn-outline-primary.rounded-pill.py-2.btn-block(href='#') Tiến hành đặt hàng.
